<h1>Edit Member</h1>
<div class='row'>
  <%= form_with model:  @user, url: user_path(@user.eth_address) do |form| %>
    <div class='column'>
      <div class='one-half column'>
        <%= label :bio, t('prompts.user.bio') %>
        <%= form.text_area :bio, maxlength: 140 %>
      </div>
    </div>
    <div class='column'>
      <%= form.submit "Update", class: 'button-primary' %>
      <%= link_to 'Back', users_path%>
    </div>
  <% end %>
</div>
